# === Python ===
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd
*.pyc
*.so

# === Virtual env ===
venv/
env/
.venv/

# === Node.js / React / React Native ===
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# === Android ===
*.apk
*.aar
.gradle/
build/
.idea/
*.iml

# === Web ===
dist/
build/

# === VSCode / OS ===
.DS_Store
.vscode/
*.swp
